.news-article-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .news-article-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .news-article-content {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.6;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    white-space: pre-wrap; /* Preserve formatting and newlines */
  }
  
  .news-article-content p {
    margin: 0;
    color: #555;
  }
  
  .back-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }
  .scrollable-text-summary {
    max-height: 600px; /* Set maximum height for the scrollable area */
    overflow-y: auto; /* Add a vertical scrollbar */
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #f8f7f7;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.5;
    white-space: pre-wrap; /* Preserve formatting */
  }
  